<div class="container">
  <h1>Pagina Admin</h1>

  <h5 style="font-weight: bolder;">Inserisci l'username da nominare/rimuovere admin </h5>
  <%= form_tag admin_page_up_path, :method => 'get' do %>
  <div class="row">
    <div class="input-field col s10">
      <%= text_field_tag :utente, params[:utente], id: "admin-utente", :class => "search-bar" %>
      <label for="admin-utente">Inserisci l'username utente a cui modificare il ruolo</label>
    </div>
    <button type="submit" value="Ricerca" class="waves-effect waves-light btn-large red darken-4" style="float: right;">Modifica</button>
  </div>
  <% end %>

  
  <h5 style="font-weight: bolder;">Inserisci l'username dell'utente da eliminare </h5>
  <%= form_tag admin_page_del_path, :method => 'get' do %>
  <div class="row">
    <div class="input-field col s10">
      <%= text_field_tag :elimina, params[:elimina], id: "utente-eliminare", :class => "search-bar" %>
      <label for="utente-eliminare">Inserisci l'username dell'utente da eliminare</label>
    </div>
    <button type="submit" value="Ricerca" class="waves-effect waves-light btn-large red darken-4" style="float: right;">Elimina</button>
  </div>
  <% end %>


  <h5 style="font-weight: bolder;">Inserisci il nome del locale da eliminare </h5>
  <%= form_tag admin_page_loc_path, :method => 'get' do %>
  <div class="row">
    <div class="input-field col s10">
      <%= text_field_tag :locale, params[:locale], id: "locale-eliminare", :class => "search-bar" %>
      <label for="locale-eliminare">Inserisci il nome del locale da eliminare</label>
    </div>
    <button type="submit" value="Ricerca" class="waves-effect waves-light btn-large red darken-4" style="float: right;">Elimina</button>
  </div>
  <% end %>

