<h1>Lista locali</h1>

<div class="row">
	<%= form_tag locali_index_url, :method => 'get' do %>
	<div class="row">
		<div class="input-field col s4">
			<%= text_field_tag :search, params[:search], id: "search-locale", :class => "search-bar" %>
			<label for="search-locale">Ricerca il nome del locale</label>
	    </div>
	    <div class="input-field col s4">
			<%= text_field_tag :citta, @citta, id: "search-city" , :class => "search-bar"%>

			<% if @citta.present? %>
		    <label for="search-city" class="active">Ricerca la città del locale</label>
		  <% else %>
		    <label for="search-city">Ricerca la città del locale</label>
		  <% end %>
		</div>

		<button type="submit" value="Ricerca" class="waves-effect waves-light btn-large red darken-4" style="float: right;">Ricerca
			<i class="material-icons right">search</i>
		</button>
	</div>
	<% end %>
</div>

<% @locale.each do |l| %>
  <div class="row" id="grid-head">
      <div class="col s16 m6">
        <div class="grid-element">
          <div class="card">
            <div class="card-image">
            <% if l.images.attached? %>
		          <%= image_tag l.images[0], :class => "citta-image" %>
		        <% end %>
            <span class="card-title"><%= l.nlocale %></span>
            </div>
            <div class="card-content">
           		<%= l.indirizzo %>
            </div>
            <div class="card-action">
              <%= link_to "Vai ai dettagli", locali_path(id: l.id), :action => "show" %>
            </div>
          </div>
        </div>
      </div>
  </div>
  <% end %>

<div class="fixed-action-btn" onclick="loggato()">
    <a class="btn-floating btn-large" style="background-color: rgb(136, 28, 33);">
      <i class="large material-icons">add</i>
    </a>
  </div>
</div>

<script>
  function loggato() {
    var x= ('<%=user_signed_in?%>' == 'true');
    if (x) {
      window.location.replace('/locali/new');
    } else {
      M.toast({html: "Effettua l'accesso per registrare un locale"}); 
    }
  }
</script>
